<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Framework Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
		<listener class-name="com.selenium.listeners.CustomListeners"></listener>
	</listeners>

	<test name="Login Test">
		<classes>
			<class name="com.selenium.testcases.LoginTest" />
		</classes>
	</test>
	
	<test name="Profile Test">
		<classes>
			<class name="com.selenium.testcases.ProfileTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
